NEXT_PUBLIC_SWELL_STORE_URL=your_store_url
NEXT_PUBLIC_SWELL_PUBLIC_KEY=your_public_key
NEXT_PUBLIC_SWELL_EDITOR=false
SWELL_STORE_ID=your_store_id
SWELL_STOREFRONT_ID=your_storefront_id
SWELL_SECRET_KEY=your_secret_key
NODE_ENV=production
